<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="SwagLabs Suite">
       <test name=" Login Test">
       <classes>
              <class name="Tests.LoginPageTest"/>
              <class name="Tests.ProductsTest"></class>
              <class name="Tests.HamburgerPartTest"></class>
       </classes>
       </test>
</suite>